# Исключение файла .env
.env

# Исключение кэш-файлов Python
__pycache__/
*.pyc
*.pyo

# Исключение среды разработки
.vscode/
.idea/

# Исключение всех файлов и директорий, связанных с виртуальными окружениями Python
venv/
.env/
